<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
    <test name="Smoke Test on Edge">
        <classes>
            <class name="Session1.Assertions">
                <methods>
                    <include name="inValidLoginTestCase"> </include>
                </methods>
            </class>
            
            <class name="Session1.Dependencies">
                <methods>
                    <include name="registerTC"> </include>
                </methods>
            </class>

        </classes>
    </test>

    <test name="Smoke Test on Chrome">
        <classes>
            <class name="Session1.Assertions">
                <methods>
                    <include name="inValidLoginTestCase"> </include>
                </methods>
            </class>

            <class name="Session1.Dependencies">
                <methods>
                    <include name="registerTC"> </include>
                </methods>
            </class>

        </classes>
    </test>

</suite>